body{
    margin:0px;
}

header{
        background-image: url("../images/flywheel.jpg");
        background-color: #707070; 
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2%;
        border-bottom: solid black 3px;
         
        position: fixed;
        z-index: 3;
        top:0;
        width: 100%;
}

h1{
    color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 170%;
}

nav img{
    width: 9%;
    padding-left: 5px;
}

nav>a{
    display: inline-block;
    color:#000000;
    background-color: rgba(255, 255, 255, 0.24);
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    border-radius: 5px;

    width: 12%;
    padding: 0.5%;
    margin: auto 5.5%;
}

nav>a:hover:not(.active) , nav>a:focus{
    transition-property:width,background-color,color,text-decoration;
    transition-duration:0.5s,0.5s,0.5s,0.5s;

    color: rgb(255, 255, 255);
    background-color: rgb(86, 105, 34);
    width: 14%;
    text-decoration: underline;
}   

.active{
    background-color: rgb(255, 255, 255);
}

main {
    margin-top: 10%;
  }

.right{
    display: block;
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    width: 65%;
}

.left{
    float: left;
    display: block;
    background-color: rgb(86, 105, 34);
}


.left img{
    margin: 15% 30px;
    width: 200px;
    display: block;
    border: solid 2px black;
}

.left img:hover{
    transition-property:width;
    transition-duration:1s;
    width: 230px;
}
