body{
    padding: auto 1%;
    margin: 1% 2%;
}

header{
        background-image: url("../images/flywheel.jpg");
        background-color: #707070; 
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2% 4%;
}

h1{
    color:#FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 150%;
}

nav img{
    width: 10%;
    padding-left: 5px;
}

nav>a{
    display: inline-block;
    color:#000000;
    background-color: rgba(255, 255, 255, 0.24);
    width: 12%;
    padding: 1%;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
    margin: auto 5%;
    border-radius: 5px;
}

nav>a:last-child{
    width: 13%;
}

a:hover,a:focus{
    transition-property:width,background-color,color;
    transition-duration:1s,1s,1.2s;
    color: rgb(255, 255, 255);
    background-color: rgb(86, 105, 34);
	width: 14%;
}   

.active{
    background-color: rgb(255, 255, 255);
}

.right{
    display: block;
    float: left;
    padding-left: 1%;
    width: 65%;
}

.left{
    float: left;
    display: block;
    background-color: rgb(86, 105, 34);
}


.left img{
    margin: 15% 30px;
    width: 200px;
    display: block;
    border: solid 2px black;
}

