body{
  background-color: rgb(255, 255, 255);
  font-size: 120%;
  margin: 0%
}

header{
  background-color: #52c0ff;
  background-image: url("../imgs/background.jpg");
  background-color: #707070; 
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;

  position: fixed;
  z-index: 3;
  top:0;
  width: 100%;
}

nav{
  font-variant: small-caps;
  font-size: 110%;
  font-family: Arial, "Times New Roman";
  border-radius: 5px;
  
}

h1{
  font-size: 150%;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}

h2{
  text-align: center;
  background-color: #52c0ff;
  font-size: 150%;
  border-radius: 5px;
  padding: 5px;
}

main {
  padding-top: 120px;
  margin-left: 2%;
  margin-right: 2%;
}

section{
  display: block;
  width: 80%;
  margin: 0 auto;
}

section p{
  text-align: center;
}

section img{
  display: block;
  width: 170px;
  margin: 0 auto;
}

.Lang{
  width: 90%;
  border-spacing: 1%;
  margin: 0 auto;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  line-height: 3%;
}

.Lang th{
  border-radius:7px 7px 0 0;
  padding: 2%;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 3px solid #3e86af;

  color: #ffffff;
  background:linear-gradient(#52c0ff, #9cd6f8);  
} 
.Lang td{
  border-radius:2px;
  padding: 2%;
  border: 1px solid #FFFFFF;
  background: #b7d8eb;
}

.Lang tr{
  text-align: center;
}

.Lang tr th:first-child, .Lang tr td:first-child{
  text-align: left;
}



footer{
  background-color:  #52c0ff;
  clear: both;
  text-align: center;
}

footer a{
  display: inline-block;
  font-weight: bold;
  color: #003a74;
  padding: 0.5%;
}

footer a img{
  display: inline-block;
  font-weight: bold;
  color: #003a74;
  padding: 0%;
  padding-right: 5%;
  padding-left: 5%;
}

a:hover,a:focus,a:active{
  background-color: #52c0ff;
  color: #000000;
  border: 3px solid #000000;
}

a:visited, nav a{
  display: inline-block;
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 24%;
}