body{
  background-color: rgb(224, 224, 224);
  font-size: 120%;
  margin: 0%
}

header{
  background-color: #479fd1;;
  text-align: center;
  border-bottom: solid black 3px;
        

  position: fixed;
  z-index: 3;
  top:0;
  width: 100%;
}

nav{
  font-variant: small-caps;
  font-size: 110%;
  font-family: Arial, "Times New Roman";
  border-radius: 5px;
  
}

h1{
  background-color: #479fd1;
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}

h2{
  background-color: #479fd1;
  font-size: 150%;
  border-radius: 5px;
  padding: 5px;
}

main {
  padding-top: 120px;
  margin-left: 2%;
  margin-right: 2%;
}

#AboutMe{
  display: block;
  width: 45%;
  float: left;
  margin-right: 4%;
}

#ProgrammingLang,#Technologies{
  width:50%;
  float: right;
  display: block;
}

progress{
  width: 70%;
} 


footer{
  background-color:  #479fd1;
  clear: both;
  text-align: center;
}


a:hover,a:focus,a:active{
  background-color: #479fd1;
  color: #000000;
  border: 3px solid #000000;
}

a:visited, nav a{
  display: inline-block;
  font-weight: bold;
  color: #003a74;
  width: 24%;
}

footer a{
  display: inline-block;
  font-weight: bold;
  color: #003a74;
  padding: 0.5%;
}

footer a img{
  display: inline-block;
  font-weight: bold;
  color: #003a74;
  padding: 0%;
  padding-right: 5%;
  padding-left: 5%;
}