h1{
    color:white;
    font-size: 25px;
    font-family: Arial;
     background-color: blue;
     /* Heading orange */
   }

h2{
    color:white;
    font-size: 15px;
    font-family: sans-serif;
     background-color:black;
     /* Heading orange */
}

 

 